<div id="balanced-pools" class="overflow-hidden bg-black border border-gray-800 rounded-lg">
    <header class="flex items-center justify-between px-4 py-2.5 text-sm bg-gray-900">
        <h2>Pools</h2>
        <a href="https://app.balanced.network/trade/" class="hover:underline text-sm">Trade</a>
    </header>
    <div id="pools-grid" class="2xl:grid-cols-6 xl:grid-cols-4 lg:grid-cols-3 grid grid-cols-2 gap-px">
        {% for pool in pools %}
        {% set pool_name = pool.base_symbol|lower + '-' + pool.quote_symbol|lower %}

        {% if 0 > pool.price_daily_change_amount[0] > -0.05 %}
        {% set price_grid_text_color = "text-red-400" %}
        {% elif -0.05 > pool.price_daily_change_amount[0] %}
        {% set price_grid_text_color = "text-red-400" %}
        {% endif %}

        {% if 0.05 > pool.price_daily_change_amount[0] > 0 %}
        {% set price_grid_text_color = "text-green-400" %}
        {% elif pool.price_daily_change_amount[0] > 0.05 %}
        {% set price_grid_text_color = "text-green-400" %}
        {% endif %}

        {% if pool.price_daily_change_amount[0] == 0 %}
        {% set price_grid_text_color = "text-gray-400" %}
        {% endif %}

        <div id="{{ pool_name }}"
            class="outline outline-1 outline-gray-800 flex flex-col justify-between p-4 space-y-2">
            <div class="space-y-2">
                <header id="{{ pool_name }}-header" class="flex items-start justify-between gap-4">
                    <div class="flex items-center gap-3">
                        <div class="shrink-0 sm:block relative hidden">
                            <img class="z-20 w-10 h-10 p-1 bg-gray-800 border-2 border-gray-800 rounded-full"
                                src="https://cdn-tracker-rhizome-dev.imgix.net/assets/tokens/{{ pool.base_symbol|lower }}.png">
                            <img class="absolute bottom-0 right-0 z-10 w-6 h-6 p-0.5 -mb-0.5 -mr-1.5 bg-gray-800 border border-gray-800 rounded-full"
                                src="https://cdn-tracker-rhizome-dev.imgix.net/assets/tokens/{{ pool.quote_symbol|lower }}.png">
                        </div>
                        <div>
                            <p id="{{ pool_name }}-base-name"
                                class="font-sans text-lg font-bold leading-snug">
                                {{ pool.base_name }}</p>
                            <h2 id="{{ pool_name }}-pool-name" class="text-sm leading-snug text-gray-400">
                                {{ pool.base_symbol }}/{{ pool.quote_symbol }}</h2>
                        </div>
                    </div>
                </header>
                <div class="-space-y-1">
                    <div>
                        <span id="{{ pool_name }}-price"
                            class="md:text-xl inline-block -mr-1 text-lg font-bold">{{ pool.price[1] }}</span>
                        <span class="inline-block text-sm text-gray-400">{{ pool.quote_symbol }}</span>
                    </div>
                    {% if pool.id != 1 %}
                    <div id="{{ pool_name }}-daily-change-stats">
                        <span id="{{ pool_name }}-daily-change-amount"
                            class="text-xs -mr-1 {{ price_grid_text_color }}">{{ pool.price_daily_change_amount[1] }}</span>
                        <span id="{{ pool_name }}-daily-change-percentage"
                            class="text-xs {{ price_grid_text_color }}">({{ pool.price_daily_change_percent[1] }})</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="{{ pool_name }}-liquidity">
                {% if pool.id != 1 %}
                <p class="text-xs">{{ pool.base[1] }} {{ pool.base_symbol }}</p>
                {% endif %}
                <p class="text-xs">{{ pool.quote[1] }} {{ pool.quote_symbol }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="last-updated" class="hidden">{{ timestamp }}</div>