<div id="block-stream" class="w-full mr-0 font-mono">
    <div class="rtl flex">
        {% for block in blocks %}
        {% if loop.index == 1 %}
        {% set bg_color = "bg-cyan-800" %}
        {% else %}
        {% set bg_color = "bg-gray-800" %}
        {% endif %}
        <div id="block-{{ block.number.default }}" class="flex items-center">
            <a href="/block/{{ block.number.default }}/">
                <div class="w-full grow md:px-2 px-1.5 py-1.5 {{ bg_color }} hover:bg-cyan-900 rounded-md">
                    <h2 id="block-{{ block.number.default }}-number" class="text-xs font-bold">
                        {{ block.number.formatted }}
                    </h2>
                    <p id="block-{{ block.number.default }}-hash" class="text-xs">{{ block.hash[:10] }}</p>
                </div>
            </a>
            {% if loop.index != 20 %}
            <svg xmlns="http://www.w3.org/2000/svg"
                class="md:mx-1 md:w-6 md:h-6 w-4 h-4 mx-0 text-gray-300 fill-current" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>