<div id="overview" class="md:grid-cols-2 xl:flex grid grid-cols-2 gap-2.5 sm:gap-3">
    <div class="grow" hx-get="/api/v1/components/block-height/" hx-trigger="load, every 1s">
        <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
            <header>
                <h3 class="text-sm text-gray-400">Block Height</h3>
            </header>
            <p id="block-height" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">{{ block_height }}</p>
        </div>
    </div>
    <div class="grow" hx-get="/api/v1/components/icx-usd-price/" hx-trigger="load, every 30s">
        <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
            <header>
                <h3 class="text-sm text-gray-400">Price</h3>
            </header>
            <p id="icx-usd-price" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">${{ icx_usd_price }}</p>
        </div>
    </div>
    <div class="grow" hx-get="/api/v1/components/icx-market-cap/" hx-trigger="load, every 30s">
        <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
            <header>
                <h3 class="text-sm text-gray-400">Market Cap</h3>
            </header>
            <p id="icx-market-cap" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">${{ icx_market_cap }}</p>
        </div>
    </div>
    <div class="grow" hx-get="/api/v1/components/total-transactions/" hx-trigger="load, every 1s">
        <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
            <header>
                <h3 class="text-sm text-gray-400">Transactions</h3>
            </header>
            <p id="transactions" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">{{ total_transactions }}</p>
        </div>
    </div>
    <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
        <header>
            <h3 class="text-sm text-gray-400">Addresses</h3>
        </header>
        <p id="addresses" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">{{ total_addresses }}</p>
    </div>
    <div class="grow p-3 p-2.5 bg-gray-800 border border-gray-800 rounded-md">
        <header>
            <h3 class="text-sm text-gray-400">Validators</h3>
        </header>
        <p id="validators" class="md:text-xl xl:text-2xl font-mono text-lg font-bold">25</p>
    </div>
</div>